@font-face {
  font-family: 'Roboto';
  src: url('font/Roboto-Regular.eot');
  src: url('font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('font/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: white;
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

.separator{
	width: 100%;
	border:0;
	border-bottom: 1px solid #5294EE;
}
.header{
  font-weight: bold;
  font-size: 2.8vh;
  line-height: 2.3125em;
  letter-spacing: 0.05em;
  color: #000000;
  font-family: 'Roboto';
  margin: 0 auto;
}
.cam_wrapper{
  width: 90%;
  margin: 0 auto;
}
.header span{
    color: #5294EE;
}
.select_cam{
	display: flex;
  position: relative;
  font-size: 1.5vh;
}
.autoplay{
  position: absolute;
  right: 1vh;
  display: flex;
  align-items: center;
}
.selector, .active{
	color: #2D2D2D;
	margin-right: 2vh;
	cursor: pointer;
}
.active{
	font-weight: bold;
  color: #5294EE;
  border: 0;
  padding-bottom: 0.2vh;
  border-bottom: 6px solid #5294EE;
}
.video-js {
	width: 100%;
  height: 88%;
}

.vjs-fluid {
  padding-top: 56.25%
}
.player-dimensions.vjs-fluid {
  padding-top: 56.25%;
}

.cam_title
{
  font-size: 1.8vh;
  letter-spacing: 0.05vh;
  padding: 0.6vh 0;
  font-weight:normal;
}
.cam_grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-wrap: wrap;
  margin: 4vh -1vh 1vh -1vh;
	}
.camera {
	width: calc(25% - 2vh);
	background: #FFF;
	height: 25.9vh;
	margin: 0.8vh 1vh;
	border-radius: 8px;
  cursor: pointer;
}
.navigation{
  display: flex;
  justify-content: space-between;
  width: 35vh;
  margin: 1.5vh auto;
  font-size: 1.5vh;
  align-items: center;
}
.btn_back, .btn_next{
  cursor: pointer;
}

button{
  border: 0;
  font-size: 1.1vh;
  font-weight: bold;
  color: #FFFFFF;
  background: #5294EE;
  border-radius: 5px;
  width: 9vh;
  padding: 0.6vh 0;
  outline: none;
}
.switch-btn {
  display: inline-block;
  width: 2.135vh;
  height: 1.25vh;
  border-radius: 19px;
  background: #bfbfbf;
  z-index: 0;
  margin-left: 0.5vh;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
}
.switch-btn::after {
  content: "";
  height: 0.94vh;
  width: 0.94vh;
  border-radius: 17px;
  background: #fff;
  top: 0.16vh;
  left: 0.16vh;
  transition-duration: 250ms;
  position: absolute;
  z-index: 1;
}
.switch-on{
  background: #5294EE;
}
.switch-on::after {
  left: 1.02vh;
}

@media screen and (max-width: 2560px) {
  html {
    font-size: 137.5vh;
  }
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 100vh;
  }
  .camera {
	width: calc(25% - 2vh);
  height: 32.9vh;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 71.15vh;
  }
    .camera {
	width: calc(33% - 2vh);
  }
}
@media screen and (max-width: 1366px) {
  html {
    font-size: 71.15vh;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 62.5vh;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 53.333vh;
  }
  .camera {
	width: calc(50% - 2vh);
  }
}
@media (max-width: 767px){
  html {
    font-size: 40vh;
  }
    .camera {
	width: calc(100% - 2vh);
  }
}
@media (max-width: 320px){
  html {
    font-size: 16.666vh;
  }
}